/*Ty[eathon Page CSs*/
.txtscroll {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    position: relative;

  }
  
  .scroll-content {
    
    margin-top: 5px;
    display: inline-flex;
    animation: scroll 20s linear infinite;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 10px !important;
  }
  
  .scroll-item {
    flex-shrink: 0;
    width: 190px; /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed */
    margin-right: 20px; /* Adjust spacing between items */
    box-shadow: 0 20px 20px black;
    display: flex;
  }
  .card {  
    background-color:lightgrey !important;
  }
  .card-body li{
    display: flex;
    font-size: 14px;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  .item h3{
    color: grey;
    font-size: 60px;
  font-family: "Anton", sans-serif;
  }


  .textcard{
    margin: 10px;
    padding: 12px;
  }
.flex3boxes{
  display: flex;
  flex-direction: row !important;
}
.flex3boxes div {

padding: 11px !important;
}
.textcard{
  display: flex;
}
  /* Cards CSS*/
  
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  user-select: none;
}

.card {
  border: 1px solid lightgray;
  font-size: 14px;
  border-radius: 10px;
  filter: drop-shadow(0 5px 10px 0 #ffffff);
  width: 140px !important;
  height: 135px;
  position: relative;
  color: white;
  background-color: black !important;
  z-index: 0;
  overflow: hidden;
  transition: 0.5s ease-in;
}
.card h4{
  
  font-size: 20px;
}
.card::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -13px;
  right: -15px;
  color: grey !important;
  background: white;
  height:220px;
  width: 23px;
  border-radius: 10px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.card:hover::before{
    transition-delay:0.2s ;

  transform: scale(20);
}


.card p{
    padding: 1px 0;
}
.blacktxtitem {
 display: flex;
}
.blacktxtitem div{
  padding: 7px;
}
.typeimage{
  margin-left:100px ;
}

/*Comparing Cards*/
.main {
  max-width: 1260px;
  margin: 0 auto;
}

.comparecards {
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  list-style: none;
  margin: 0;
  padding: 0;
}

.c-cards_item {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  display: flex;
  color: black;
  padding: 10px;
  margin: 10px;
}



.c-cards_item {
  filter:drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
}


.c-card {
  color: black;
  background-color: lightgrey;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-left: 20px;
  background: repeating-linear-gradient(#0000 0 calc(1.2rem - 1px),#66afe1 0 1.2rem) right bottom /100% 100%,linear-gradient(red 0 0) 30px 0/2px 100% #fff;
  background-repeat: no-repeat;
  line-height: 1.2rem;
  -webkit-mask:radial-gradient(circle .6rem at 5px 72%,#0000 99%,#000)0 0/100% 2.4rem;
}

.c-card_content {
  padding: 1.2rem;
}
.c-card_text p{
  color: #000;
  font-size: 15px;
}
.fa-solid{
font-size: 20px;
  margin-right: 7px;
}
h2.c-card_title,p {
  margin: 1.2rem 0;
}
h2.c-card_title {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
    font-size: 0.8em;
    padding: 6px;
    border-radius: 10px 10px 10px 0px;
}
body {
  font-family:monospace;
  background-color: lightgrey;
}

html {
  font-size:15px;
}

.heading1{
  display: flex;
  padding: 40px;
}
.heading1 p{
  font-size: 15px;
}

.linkicon{
  color: white;
  font-size: 17px;
  margin-left: 7px;
}
.heading1  div{
  padding: 10px;
  width: auto;
}
