


.move-up {
    opacity: 1;
    transform: translateY(-50px);  /* Move the clicked project up */
    animation: fadeInUp 0.8s ease forwards;  /* Animate the movement */
}

/* Keyframes for the soft movement */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(-0px);
    }
}


/*Loading Page Css*/

/* Full-screen loading page with centered text */
.loading-page {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); /* Light black background */
    color: white;
    text-align: center;
  }
  
  /* Style for the loading text */
  .loading-text {
    color: black;
    font-size: 1.4rem;
  }
  
  /*Soft animation*/
  /* Container with overflow hidden to ensure the text starts hidden */
.container {
  overflow: hidden;
  height: 100px; /* Adjust height as needed */
}

/* Initial state of the animated text */
.animated-text {
  opacity: 0; /* Start invisible */
  transform: translateY(20px); /* Start below its final position */
  transition: opacity 0.8s ease-out, transform 0.8s ease-out; /* Smooth transition */
}

/* Add this class to trigger the animation */
.container.show .animated-text {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Move to its final position */
}
