
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Anton&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

.urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.anton-regular {
  font-family: "Anton", sans-serif;
  font-style: normal;
}


*{
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none; 
}
.ctr-2{
  height: 100%;
  width: 80%;
}
.body2{
  display: inline-flex;
  position: unset;
  margin-top: 50px;
  word-spacing: 5px;
  font-size: 80px;
}

.CaseStudCss {
  position: fixed; /* Use fixed positioning to make it appear relative to the viewport */
  bottom: 0; /* Position it at the bottom of the viewport */
  left: 50%;
  top: 16px; /* Center horizontally */
  transform: translateX(-50%); /* Adjust horizontal centering */
  width: 97% !important; /* Ensure it fits within the viewport with some padding */
  height: 95vh; /* Fixed height for a scrollable area */
  overflow: auto; /* Enable scrolling if the content exceeds the height */
  letter-spacing: 1px;
  font-size: 14px;
  border-radius: 4px;
  color: lightgray; /* Text color */
  z-index: 10; /* Make sure it's above most content but adjust as needed */
}

.CaseStudCss p {
font-size: 17px;
  font-family: "Urbanist", sans-serif;
    color: lightgrey; /* Text color */
}


.CaseStudCss::-webkit-scrollbar{
  display: none;
}

.scrollable-content {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 78%;
  height: 96vh; /* Ensure height to create a scrollable area */
  overflow: auto; /* Enable scrolling */
  left: 60%;
  transform: translate(-50%, -50%);
  font-optical-sizing: auto;
  font-family: "Anton", sans-serif;
  transition: 0.2s all ease;

}
.workname{
  display: flex;
  margin-top: 10px;
  float: inline-end;
  margin-right: 50px;
  font-size: 45px;
 font-family: "Anton", sans-serif;
 transition: 0.2s all ease;
  letter-spacing: 2px;
  color: transparent !important;
  -webkit-text-stroke: 0.3px white; /* Creates the black outline with a 2px width */
}
.workname:hover{
  color: white !important;
}
  .proj-title{
  font-family: "Anton", sans-serif;
    color: transparent; /* Makes the inside of the text transparent */
    -webkit-text-stroke: 0.3px lightgrey; /* Creates the black outline with a 2px width */
    font-size: 50px !important;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    line-height: 60px;
    letter-spacing: 5px;
    transform: scaleX(1.5); /* Increase the width of the letter. Adjust the value as needed */
  text-transform: uppercase;
}
.proj-title:hover{
  color: lightgrey;
}


/* Scrollable content links styling */
.scrollable-content a {
  color: white !important;
  letter-spacing: 2px;
   display: flex;
  flex-wrap: wrap;
  font-size: 90px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-text-stroke: 0.3px white; /* Creates the black outline with a 2px width */
  direction: rtl; text-shadow: 1px 20px  20px 20px rgba(0, 0, 0, 0.5) !important;
  transform: perspective(500px) rotateX(38deg) scale(1.3);
 transition: 0.5s all ease;
  line-height: 93px;
  letter-spacing: 2px;
}

.scrollable-content a:hover { color: transparent !important;
  -webkit-text-stroke: 0.3px white; /* Creates the black outline with a 2px width */
  transform: perspective(500px) rotateX(10deg) scale(1.1);
}


/* Hide scrollbar for WebKit browsers */
 .scrollable-content::-webkit-scrollbar {
  display: none;
}

.herotxt{
  margin-top: 12px;
}
/* Optional: hide scrollbar for Firefox */
.scrollable-content {
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.skillcss{
  font-family: "Urbanist", sans-serif;
  color: lightgrey;
  position: absolute;
  background-color: transparent !important;
  top: 57%;
  width: 55%;
  left: 70%;
  letter-spacing: 0.5px;
  font-size: 18px;
  transform: translate(-50%, -50%);
}

.skillcss div{
  background-color: transparent;
  border: none !important;
}
.font-class{
  letter-spacing: 1px;
  font-weight: 500;
  font-family: "Urbanist", sans-serif;
font-size: 50px !important;
color: lightgrey;
margin: 10px;
letter-spacing: 1px;
}

.headerCss{
  font-size: 50px;
    color: lightgrey; /* Makes the text transparent */
    -webkit-text-stroke: 0.3px grey; 
    border: 1px  solid black; 
}
span{
  font-family: "Urbanist", sans-serif;
  font-size: 8px;
  font-weight: 400;
  text-transform:none;color: lightgrey;
}
.ctr1 {
width: 100%;
margin: 0px;
position: fixed;
height: 100%;color: lightgrey;
}

.bg-ctr{
    position: fixed;
    display: flex;
    top: 0;
    left: 0; justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: "Urbanist", sans-serif;
    background-color:black !important;
   color: lightgrey;
  
}

@keyframes color {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.bg-ctr-1{
  width: 97%; /* Adjust the width percentage as needed */
  height: 95%; /* Adjust the height percentage as needed */
  margin: auto; /* Center the child div horizontally */
  border: 1px solid black; /* Add border to the child div */
  box-sizing: border-box; /* Include border in the width and height */
  position: fixed;
  border-radius: 6px;
  background: linear-gradient(85deg,#02010a, #242423, #000000,  #333533, #000000, #252422, #000000);
  background-size: 300% 300%;
  animation: color 50s ease-out reverse infinite;
  margin: 0;
  padding: 0;
  overflow: auto; /* Allows scrolling if content overflows */
}
.flex-ctre-12{
  display: flex;
  color: lightgrey;
  height: 90%;
}
.ctr-1{
  margin-top: 20px;
  width: 40%;
}




.body {
  display: flex;
  flex-direction: column;
  border: 0.2px solid black;
  margin: 20px 20px;
  height: auto;
  width: 97%;
}
.box1{
  margin-left: 20px;
  width: 100%;
  font-optical-sizing: auto;
  margin-top: 0px;
}
.box1 p{
  font-size: 17px;
  margin-top: 0px;
  color: lightgrey;
}

.box1 h2,
.box1 p {
    margin: 0;
}



.line-container {
  height: 100%;
  flex: 1;
  margin: 35px;
  font-family: "Urbanist", sans-serif;}

.box2{
  position:absolute;
  margin-top: 10px;
  margin-left: 0px;
}
.box2 a{
  text-decoration: none;
  line-height: 1.4rem;
  font-size: 14px;
  color: lightgrey;
display: block;
letter-spacing: 1px;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;}
.box2 a:hover{
  color: grey;
}


.line-container h2 {
  font-size: 3.9em; 
  line-height: 0.8em;
}
.line-container p {
line-height: 1.2em;
  gap: 45px;
 font-size: 17px; 
}

.headerCss{
  font-size: 50px;
    color: lightgrey; /* Makes the text transparent */
    -webkit-text-stroke: 0.3px grey; 
    border: 1px  solid black; 
}
.headerCss p:hover{
  color: black !important;
}

.nav-btn {
  font-family: "Urbanist", sans-serif;
  display: flex;
  font-size: 15px;
  position: absolute;
  flex-direction: row;
  margin-left: 22px;
  justify-content: space-between;
  width: 96%;
}

.nav-btn div a{
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 14px;
}
.nav-btn div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.nav-btn a:hover {
color: grey;
}
.nav-btn a{
  color:lightgrey;
  font-family: "Urbanist", sans-serif;
  text-decoration: none;
}

.gap-1{
  font-family: "Urbanist", sans-serif;
  display: flex !important;
  position: relative;
  color: lightgrey;
    flex-direction: row !important; /* Align items vertically */
     /* Adjust the gap size as needed */
}

@media (max-width: 1084) {
  .CV-gap{
    margin-left : 45%;
    }
    
    
}
.contact-div{
  margin-top: 30%;
  position: relative;
}
.about-css {
  gap: 45px;
  margin-top: 80px;
}

/* HorizontalScroller.css */
.scroller-container {
    width: 90% !important;
    height: 100vh;
    overflow: hidden;
}
.CaseStudCss {
  width: 96%;
  overflow-x: scroll;
}
.scroller {
    display: flex;
    width: 100%;
    height: 100%;
}
.item {
  min-width: 100vw; /* Each item takes the full width of the viewport */
  position: relative;
  scroll-snap-align: start;
  padding: 130px 60px;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  z-index: 1; /* Ensure content is above the image */
}

.item-img {
  transition:  1s all ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the entire background */
  z-index: -1; /* Send the image behind the content */
  opacity: 0.7; /* Optional: Add transparency to the image */
  border-radius: 8px; /* Optional: Add some border radius */
}

.item-img:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}

.top-content {
  width: 100vh;
  position: absolute; /* Position relative to the nearest positioned ancestor */
  z-index: 100; /* High z-index to be on top of all other content */
  padding: 10px;
  color: #fff;
  font-size: 2rem;
  border-radius: 8px;
}
.ctr-3{
  position: relative; /* Position relative to the nearest positioned ancestor */
  z-index: 100; /* High z-index to be on top of all other content */
  margin-left: 10px;
  color: #fff;
  font-size: 2rem;
  border-radius: 8px;
  color: lightgrey;
  height: 10%;
}

::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}/* Hide scrollbar for Firefox */
.scrollable {
  scrollbar-width: none; /* Hide scrollbar */
}
/* Hide scrollbar for Edge and IE */
::-ms-scrollbar {
  display: none; /* Hide scrollbar */
}
